<div class="row">
  <div class="col-sm-5">
    <h4>Recommended stocks - Last 5 </h4>
    <table class="table table-bordered">
      <thead>
        <th>Stock Name</th>
        <th>Recommended On</th>
      </thead>
      <tbody>
        <tr>
          <td>India Cements</td>
          <td>Jan-01-2018</td>
        </tr>
        <tr>
          <td>Ador Welding</td>
          <td>Dec-27-2017</td>
        </tr>
        <tr>
          <td>Tata Motors</td>
          <td>Dec-22-2017</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <h4>Frequent recommenders - Last 5 </h4>
    <table class="table table-bordered">
        <thead>
          <th>Name</th>
          <th>Total Recommendation</th>
        </thead>
        <tbody>
          <tr>
            <td>Lokesh</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Premdevaraja</td>
            <td>8</td>
          </tr>
          <tr>
            <td>Sabharatnam</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="col-sm-3">
    <h4>Glossary </h4>
    <table class="table table-bordered">
      <thead>
        <th>Term</th>
        <th>References</th>
      </thead>
      <tbody>
        <tr>
          <td>RSI</td>
          <td><a href="#">Relative Strength Index</a></td>
        </tr>
        <tr>
          <td>MACD</td>
          <td><a href="#">Moving Average Convergence Divergence</a></td>
        </tr>
        <tr>
          <td>Moving Average</td>
          <td><a href="#">Moving Average</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>